* {
 margin: 0;
 padding: 0;
}

.container {
 width: 100px;
 height: 100px;
 background-color: black;
 position: relative;


}

.div1 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 right: 0;
 bottom: 0;

}

.div2 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 right: 0;
 bottom: 110px;
}

.div3 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 right: 0;
 bottom: 220px;
}

.div4 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 right: 110px;
 bottom: 110px;
}

.div5 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 right: 110px;
 bottom: 0;
}

.div6 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 right: 220px;
 bottom: 0;
}

.div7 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 left: 0;
 top: 0;
}

.div8 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 left: 220px;
 top: 0;
}

.div9 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 left: 0;
 top: 110px;
}

.div10 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 left: 0;
 top: 220px;
}


.div11 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 left: 110px;
 top: 110px;
}

.div12 {
 width: 100px;
 height: 100px;
 background-color: black;
 position: absolute;
 left: 110px;
 top: 0;
}
