
*{margin:0;
 padding: 0;
}
.div1{
background-color: black;
width:200px;
height:200px;
position:absolute;

}
.div2,.div4{
background-color: black;
width: 200px;
 height: 200px;
position:relative;
left: 1150px;
 
}



.div3{
 background-color: black;
 width: 200px;
  height: 200px;
  position:absolute;
  top: 460px;
  right: 1155px;

}
